<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Monika</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019 ilammy&apos;s tearoom. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>JustMonikaView</string>
	<key>SUFeedURL</key>
	<string>https://gist.github.com/ilammy/2acde6be583fc4c516da48c41c5e7335/raw/1c9bbee87e4ed23d5ef94437935b785d55191511/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>kh7dRpBNkgz73AEQPFi6ZvUFBCa7bZ12xzNo+DBN/no=</string>
</dict>
</plist>
